[Unit]
Description=Telegram Alert Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/telegram-allert-bot
ExecStart=/usr/bin/node /opt/telegram-allert-bot/bot.js
Restart=always
RestartSec=5
EnvironmentFile=/opt/telegram-allert-bot/.env
StandardOutput=journal
StandardError=journal
SyslogIdentifier=telegram-allert-bot

[Install]
WantedBy=multi-user.target
